<a href="https://colab.research.google.com/github/jscienciadados/regras-associacao/blob/main/Eclat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Machine Learning - Itens Frequentes com o Algoritmo Eclat

In [ ]:
!pip install pyECLAT

In [3]:
import pandas as pd

# carreagndo os dados

In [4]:
base_mercado1 = pd.read_csv('mercado.csv', header = None)
base_mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

# Gerando os Itens Frequentes

In [5]:
from pyECLAT import ECLAT
eclat = ECLAT(data = base_mercado1)

In [6]:
eclat.df_bin

   cafe  cerveja  arroz  manteiga  pao  feijao  leite
0     0        1      0         1    1       0      1
1     1        0      0         1    1       0      0
2     1        0      0         1    1       0      0
3     1        0      0         1    1       0      1
4     0        1      0         0    0       0      0
5     0        0      0         1    0       0      0
6     0        0      0         0    1       0      0
7     0        0      0         0    0       1      0
8     0        0      1         0    0       1      0
9     0        0      1         0    0       0      0

In [7]:
# produtos unicos
eclat.uniq_

[nan, 'cafe', 'cerveja', 'arroz', 'manteiga', 'pao', 'feijao', 'leite']

In [8]:
indices, suporte = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

Combination 1 by 1

3it [00:00, 141.02it/s]

Combination 2 by 2

3it [00:00, 127.49it/s]

Combination 3 by 3

1it [00:00, 14.90it/s]

In [9]:
indices

{'cafe': [1, 2, 3],
 'cafe & manteiga': [1, 2, 3],
 'cafe & manteiga & pao': [1, 2, 3],
 'cafe & pao': [1, 2, 3],
 'manteiga': [0, 1, 2, 3, 5],
 'manteiga & pao': [0, 1, 2, 3],
 'pao': [0, 1, 2, 3, 6]}

In [10]:
suporte

{'cafe': 0.3,
 'cafe & manteiga': 0.3,
 'cafe & manteiga & pao': 0.3,
 'cafe & pao': 0.3,
 'manteiga': 0.5,
 'manteiga & pao': 0.4,
 'pao': 0.5}