<a href="https://colab.research.google.com/github/jscienciadados/regras-associacao/blob/main/Regras_de_Asoociacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Machine Learnig - Regras de Associação

In [ ]:
!pip install apyori

# Biblioteca

In [2]:
import pandas as pd
from apyori import apriori

# Carreagndo a Base de Dados

In [3]:
base_meracado1 = pd.read_csv('/content/mercado.csv', header= None)
base_meracado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [4]:
# shape
base_meracado1.shape

(10, 4)

In [6]:
transacoes = []
for i in range(len(base_meracado1)):
  #print(i)
  #print(base_mercado1.values[i, 0])
  transacoes.append([str(base_meracado1.values[i, j]) for j in range(base_meracado1.shape[1])])

In [7]:
transacoes

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [8]:
type(transacoes)

list

# Gerando as Regras

In [9]:
regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.8, min_lift = 2)
resultados = list(regras)

In [10]:
resultados

[RelationRecord(items=frozenset({'cafe', 'manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'cafe', 'manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [11]:
len(resultados)

3

In [12]:
resultados[2]

RelationRecord(items=frozenset({'pao', 'cafe', 'manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

In [13]:
resultados[2][0]

frozenset({'cafe', 'manteiga', 'pao'})

In [14]:
resultados[2][1]

0.3

In [15]:
r = resultados[2][2]
r

[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5),
 OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
 OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]

In [16]:
r[0]

OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5)

In [17]:
# Acessando a parte 1 da regra
r[2][0]

frozenset({'cafe', 'pao'})

In [18]:
# parte 2 -> resultado
r[2][1]

frozenset({'manteiga'})

In [19]:
# confiança
r[2][2]

1.0

In [20]:
# lift
r[2][3]

2.0

# Montando um dataframe com as regras

In [21]:
A = []
B = []
suporte = []
confianca = []
lift = []

for resultado in resultados:
  #print(resultado)
  s = resultado[1]
  #print(s)
  result_rules = resultado[2]
  #print(result_rule)
  for result_rule in result_rules:
    #print(result_rule)
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    #print(a, ' - ', b, ' - ', c, ' - ', l)
    A.append(a)
    B.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)

In [22]:
A

[['cafe'], ['cafe'], ['cafe'], ['cafe', 'manteiga'], ['pao', 'cafe']]

In [23]:
B

[['manteiga'], ['pao'], ['pao', 'manteiga'], ['pao'], ['manteiga']]

In [29]:
s

0.3

In [25]:
confianca

[1.0, 1.0, 1.0, 1.0, 1.0]

In [26]:
lift

[2.0, 2.0, 2.5, 2.0, 2.0]

In [27]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

In [28]:
rules_df.sort_values(by = 'lift', ascending = False)

                  A                B  suporte  confianca  lift
2            [cafe]  [pao, manteiga]      0.3        1.0   2.5
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
3  [cafe, manteiga]            [pao]      0.3        1.0   2.0
4       [pao, cafe]       [manteiga]      0.3        1.0   2.0

# Analisando uma Base Real de Mercado

In [30]:
base_mercado2 = pd.read_csv('mercado2.csv', header=None)
base_mercado2.head()

              0          1           2   ...               17       18         19
0         shrimp    almonds     avocado  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...              NaN      NaN        NaN
2        chutney        NaN         NaN  ...              NaN      NaN        NaN
3         turkey    avocado         NaN  ...              NaN      NaN        NaN
4  mineral water       milk  energy bar  ...              NaN      NaN        NaN

[5 rows x 20 columns]

In [31]:
base_mercado2.shape

(7501, 20)

In [32]:
# Colando em formato de lista
transacoes = []
for i in range(base_mercado2.shape[0]):
  transacoes.append([str(base_mercado2.values[i, j]) for j in range(base_mercado2.shape[1])])

In [34]:
transacoes[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

# Gerando as Regras

Produtos que são vendidos 4 vezes ao dia

In [38]:
# 4 produtos x 7 dia -> definição do problema de negocio
print(4 * 7)

# 28 / 7501 -> min_support (quantidade de produtos vendidos pelo total da base)
print(28 / 7501)

# confiança 0.2
# lift 3

28
0.0037328356219170776

In [35]:
regras = apriori(transacoes, min_support = 0.003, min_confidence = 0.2, min_lift = 3)
resultados = list(regras)
len(resultados)

160

In [36]:
# Listas
A = []
B = []
suporte = []
confianca = []
lift = []

for resultado in resultados:
  s = resultado[1]
  result_rules = resultado[2]
  for result_rule in result_rules:
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    A.append(a)
    B.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)

In [37]:
# Dataframe
rules_df = pd.DataFrame({'A': A, 'B': B, 'suporte': suporte, 'confianca': confianca, 'lift': lift})
rules_df.sort_values(by = 'confianca', ascending = False)

                                        A  ...      lift
347       [soup, milk, frozen vegetables]  ...  3.218112
353  [soup, milk, frozen vegetables, nan]  ...  3.216312
180       [soup, milk, frozen vegetables]  ...  3.216312
106           [nan, cereals, ground beef]  ...  3.885303
104                [cereals, ground beef]  ...  3.885303
..                                    ...  ...       ...
358           [frozen vegetables, shrimp]  ...  3.348661
371              [nan, milk, ground beef]  ...  3.348661
370                   [milk, ground beef]  ...  3.348661
224                   [milk, ground beef]  ...  3.348661
360      [frozen vegetables, shrimp, nan]  ...  3.348661

[390 rows x 5 columns]